node_modules
.DS_Store
dist
dist-ssr
*.local
.history



# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local


yarn.lock
src/views/basematerial/currency/aaa.vue

.eslintcache
